body {
  font-family: 'Avenir', sans-serif;
  background-color: #fffdf5;
  margin: 0px 100px;
  padding: 0px;
}

.nav-bar {
  background: #fffdf5;
  padding: 30px;
  font-size: 15px;  
}

.nav-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline-block;
}

ul li a {
  text-decoration: none; 
  color: #1d708d;
  font-size: 16px;
  margin-right: 40px;  
  position: relative;
  padding-bottom: 5px;
}

a.nav-activebar {
  color: #4caf50;
}

.nav-bar a:active {
  background: lightgoldenrodyellow;
}

.nav-bar a:hover {
  color: #ffb800;
}

.nav-bar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffb800;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

.nav-bar a:hover::after {
  width: 100%; 
}

.logo a {
  text-decoration: none;
  justify-content: inline-block;
}

.logo a:hover {
  text-decoration: none; 
  outline: none;  
}

.logo a::after {
  content: none;
}

.slogan {
  font-size: 50px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 15px;
  padding: 0px;
  color: #1d708d;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;   
  align-items: center;
}

.button {
  background-color: #1d708d;
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #ffb800;
  text-decoration: none; 
}

.button::after {
  content: none;  
}

.text-container {
  text-align: center;
  margin-top: 50px; 
}

.text {
  font-family: 'Avenir', sans-serif;
  font-size: 17px;
  color: #1d708d;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 35px;
}

.content {
  clear: both;
  margin: 0;
}

.content h1 {
  margin: 0px;
  color: #1d708d
}

.content p {
  margin: 0px;
  font-size: 17px;
  line-height: 1.6;
}

.intropic {
  float: right;
  margin: 0 0 15px 15px; 
}